tmp
logs
pids

*.log
*.pid
*.seed

.idea
.vscode
.DS_Store
.lock-wscript

dist/
build/*
coverage/
!build/*.mjs
node_modules/

public/**/*.ico
public/**/*.png
public/**/*.jpg
public/**/*.mp3
public/**/*.glb

!build/package.json
!build/pnpm-lock.yaml
public/assets/shaders/*
!public/**/shaders/.gitkeep
!public/assets/sounds/YAZH.mp3
