logs
*.log

pids
*.pid
*.seed

.idea
.vscode
.DS_Store

yarn.lock
.lock-wscript
yarn-error.lock
package-lock.json
.sublime-workspace

node_modules
# public/*.map
src/ui/fonts/*
!src/ui/fonts/.gitkeep
