@use "sass:math";

@keyframes shoot {
  0% {
    transform: scale(1);
  }

  33.3% {
    transform: scale(1.33);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    // stylelint-disable-next-line function-no-unknown
    transform: scale(math.div(1, 3));
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
