@use "@/variables" as var;

@mixin list ($headings) {
  justify-content: space-between;
  align-content: space-between;

  align-items: flex-start;
  flex-direction: column;

  list-style: none;
  display: flex;
  padding: 0;

  li {
    @each $heading in $headings {
      @include item($heading);
    }
  }
}

@mixin item ($heading) {
  width: 100%;
  cursor: pointer;

  #{$heading} {
    transition: transform 0.4s var.$ease-in-out-quad, color 0.2s;
    pointer-events: none;
    color: var.$red;

    &.active {
      color: rgba(var.$white, 0.8);
    }
  }
}
